body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f7f7f7;
}

.header {
  height: 64px;
  background-color: #5d8ad1;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.headerContent {
  display: flex;
  align-items: center;
  padding: 0 16px;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  font-size: x-large;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  font-family: sans-serif;
  margin-top: 50px;
}

h3 {
  font-family: sans-serif;
  color: #a0a0a0;
  font-weight: 100;
}

.container {
  display: flex;
  margin: 16px 0;
  gap: 12px;
}

.box {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 16px;
  border-radius: 5px;
  margin: 32px 16px;
  background-color: white;
}

.styled-tab {
  padding: 8px 14px;
  cursor: pointer;
}

.styled-tab.active {
  border-bottom: 2px solid #7083ac;
}

.table-wrapper {
  margin: 32px 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.styled-table {
  border-collapse: collapse;
  font-size: 0.8em;
  font-family: sans-serif;
  width: 100%;
}

.styled-table thead tr {
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 12px 6px;
  text-align: center;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: white;
}

.styled-table thead tr:first-of-type {
  border-bottom: 2px solid #7083ac;
}

.styled-table tbody tr:first-of-type {
  border-top: 1px solid #7083ac;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 1px solid #7083ac;
}

.styled-table tfoot {
  font-weight: bold;
}

.table-header {
  background-color: #92a8d9;
  font-size: larger;
}

.table-disagg {
  background-color: #dae1f2;
}

.table-indicators-ok {
  background-color: #add091;
  text-orientation: sideways;
}

.table-indicators-nok {
  background-color: #edb487;
  text-orientation: sideways;
}

.table-h1 {
  font-weight: bold;
  background-color: #1d345b !important;
  color: white;
}

.table-h2 {
  font-weight: bold;
  background-color: #5d8ad1 !important;
}

.table-h3 {
  font-weight: bold;
  background-color: #92a8d9 !important;
}

.table-h4 {
  font-weight: bold;
  background-color: #dae1f2 !important;
}

.table-h5 {
  font-weight: bold;
  background-color: white !important;
}

.nested-table {
  margin: 0;
  box-shadow: none;
}

.nested-table tr:nth-child(odd) {
  background-color: white;
}

.styled-button {
  padding: 8px 32px;
  background-color: #7083ac;
  border: none;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.styled-button:hover {
  background-color: #92a8d9;
}

.error {
  color: red;
}

.width-5 {
  width: 5%;
}

.width-10 {
  width: 10%;
}

.force-left-align {
  text-align: left !important;
}

.chart {
  height: 600px;
}

@media print {
  body {
    background-color: white;
  }

  .box {
    box-shadow: none;
  }

  .table-wrapper {
    box-shadow: none;
  }
}
